@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.navbar {
  background: $main-color;
  @include border-radius(0);

  a {
    color: $text-color;
    @include transition(ease, 40ms);

    &:hover {
      color: darken($text-color, 15%);
    }

    &:focus {
      color: $text-color;
    }
  }
}
